body{
	background: #f9f9f9;
}
main div{
	border: 1px solid cyan;
	margin-left: 15%;
	padding: 0%;
	position: relative;
	width: 70%;
}

main div #form1{
	background: #4dbded;
	height: 20em;
	left: 0;
	top: 5em;
}
main div #form2{
	background: white;
	height: 20em;
	right: 0;
	top: 5em;
}
main #form3{
	position: absolute;
	top: 70%; 
}
main div #form1,#form2{
	border: 0;
	display: inline-block;
	position: absolute;
	width: 50%;
}
main div #form2 div{
	padding: 1em;
}
main div #form2 div a{
	color: white;
	border: 1px solid red;
	margin: 1em 0.5em; 
	padding: 0.3em 2em;
	text-decoration: none;
}
main div #form2 div a:first-child{
	background: #314f8d;
}
main div #form2 div a:last-child{
	background: #16afeb;
}