body{
    border:0;
    font-family: "Comic Sans MS";
    font-size: 14px;
    margin:0;
    padding:0;
}
main form{
    border: solid 2px #ededef;
    background: orange;
    padding: 0.5%;
    width: 100%;
}
main form div img{
    width: 6em;
    height: 2em;
}
main form div input{
    border-radius: 15%;
    height: 2em;
    margin-left: 3%;
}
main form div label{

    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
#imge{
    margin-right: 10%;
}
#screen{
    background-color: olive ;
    border: 1px solid white;
    margin-top: 3%;
    margin-left: 6%;
    margin-bottom: 2%;
    margin-right: 6%;
    padding-bottom: 2%;
}


