body{
    background: gainsboro;
}
main div{
    border: 0;
    margin-left: 5%;
    padding: 0%;
    position: relative;
    width: 85%;
}
main div #form1{
    background: gray;
    height: 2em;
    left: 0;
    top: 5em;
}
main div #form2{
    background: gray;
    height: 2em;
    right: 0;
    top: 5em;
}
main div #form3{
    background: white;
    height: 23em;
    right: 5%;
    top: 7em;
    width: 100%;
}
main div #form4{
    background: gainsboro;
    height: 12em;
    position: absolute;
    right: 10%;
    top: 3em;
    width: 30%;
}
main div #form5{
    background: white;
    height: 2em;
    position: absolute;
    right: 10%;
    top: 16em;
    width: 30%;
}
main div #form6{
    background: white;
    height: 2em;
    position: absolute;
    right: 10%;
    top: 18em;
    width: 30%;
}
main div #form7{
    background: grey;
    height: 23em;
    right: 5%;
    top: 6em;
    width: 100%;
}
main div #form8{
    background: white;
    height: 20em;
    position: relative;
    left: 6%;
    top: 3em;
    width: 80%;
}
main div #form1,#form2{
    border: 0;
    display: inline-block;
    margin: 0;
    position: absolute;
    width: 50%;
}
main div #form1 div a{
    color: black;
    font-family: Arial;
    font-size: 0.6em;
    margin: 0.1em 0.1em;
    padding: 0.6em 2.3em;
    text-decoration: none;
    background: white;
}
main div #form2 div a{
    color: black;
    font-family: Arial;
    font-size: 0.6em;
    margin: 0.1em 0.1em;
    padding: 0.6em 2.3em;
    text-decoration: none;
    background: white;
}
main div #form1 label{
    color: black;
    font-family: Arial;
    font-size: 1.3em;
    margin: 1em 1.5em;
}
main div #form5 label{
    color: black;
    font-family: Arial;
    font-size: 0.8em;
    margin: 1em 1.5em;
}
main div #form6 label{
    color: black;
    font-family: Arial;
    font-size: 0.6em;
    margin: 1em 1.5em;
}
main div #form8 h1{
    color: black;
    font-family: Arial;
    font-size: 1em;
    margin: 1em 1.5em;
}