body
{
    border:0;
    margin:0;
    padding:0;
    margin-bottom: 5%;
}
#textdoc
{
    margin-top: 1em;
    background-color: #f5f5dc;
}

main
{
    background-color: #f5f5dc;
    border: 1px solid #ededef;
    margin-left: 15%;
    text-align: center;
    margin-top:1%;
    width: 70%;
}
form
{
    border: 1px solid #ededef;
    text-align: center;
}
#form1
{
    background-color: lightgrey;
    border: 1px solid #ededef;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
#formvideo
{
    background-color: #d9edc2;
    border: 1px solid #b2ce96;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 55%;
    margin-right: 6%;
    padding-bottom: 1%;
}

#form2
{
    background-color: lightgrey;
    border: 1px solid #b2ce96;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 1%;
}
#screen
{
    background-color: white;
    border: 1px solid white;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 2%;
}
video
{
    margin-top: 4%;
}
main div button
{
    width: 6em;
    height: 3em;
}
label
{
    font-size: 1.8em;
}
main div
{
    margin-bottom: 10px;
}
#labelx
{
    margin-left: 94%;
    margin-top: 50%;
}
#bot1
{
    background: gray;
    border: 0;
    color:white;
    border-radius: 4px;
    font-size: 1em;
    height: 38px;
    width: 150px;
    margin-top: 3%;
    margin-left: 1%;
}
#bot2
{
    background: gray;
    border: 0;
    color:white;
    border-radius: 4px;
    font-size: 1em;
    height: 38px;
    width: 150px;
    margin-top: 2%;
    margin-left: 1%;
}
#bot3
{
    background: gray;
    border: 0;
    color:white;
    border-radius: 4px;
    font-size: 1em;
    height: 40px;
    width: 90px;
    margin-top: 0.5em;
}
#bot4
{
    background: gray;
    border: 1;
    color:white;
    border-radius: 4px;
    font-size: 1em;
    height: 40px;
    width: 90px;
    margin-top: 0.5em;
}
#bot5
{
    background: gray;
    border: 1;
    color:white;
    border-radius: 4px;
    font-size: 1em;
    height: 40px;
    width: 90px;
    margin-top: 0.5em;
}
#bot6
 {
     background: gray;
     border: 1;
     color:white;
     border-radius: 4px;
     font-size: 1em;
     height: 40px;
     width: 90px;
     margin-top: 0.5em;
 }
#search
{
    border-radius: 6px;
    font-size: 1em;
    height: 30px;
    width: 150px;
    margin-right: 1%;
}
#as {
    font-size: 2em;
    margin-right: 6%;
    margin-top: 0.5em;
}

#ima
{
    margin-left: 0;
    margin-top: 0.5em;
}

#botones
{
    margin-top: 5%;
}