body{
    background: white;

}
body main #buscador{
    background: #5847dd;
}
main main div  #video{
    margin-left: 70%;
}
body #imagen{
    background: black;
    color: white;
    padding: 8%;

}